<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
    </appenders>
    <loggers>
        <logger name="cn.pandadb" level="info"/>
        <logger name="org.grapheco.lynx.CypherRunner" level="info"/>
        <logger name="org.tikv.common.operation" level="error"/>
        <logger name="org.tikv.common.region.RegionManager" level="error"/>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>